html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column; 
}

.main {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
    margin: 20px auto;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #751c1c;
    border-radius: 5px;
}

input::placeholder{
    color: #888;
}
button[type="submit"] {
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: #6f5114;
    color: white;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

footer {
    background-color: #333;
    color: #f0f0f0;
    padding: 20px 0;
    text-align: center;
    margin-top: auto; 
}

footer p {
    margin-bottom: 10px;
    font-size: 14px;
}

footer a {
    color: #f0f0f0;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

footer a:hover{
    color: #ddd;
}

h1 {
    text-align: center;
    color: #8b6e35;
    margin-bottom: 20px;
}
